{% extends "base.html" %}

{% block title %}Confirm Delete{% endblock %}

{% block content %}
    <h1 class="mt-4">Confirm Delete</h1>
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Confirm</button>
                <a href="{% url 'presentation_list' %}" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}
